<!--div id="subheader1">
  <div class="container">

    <nav id="loginbar" class="menu">
      <form id="login" action="/login" method="post" class="menu">
        <input id="user" name="usernameEmail" placeholder="username" type="text" maxlength="20" required>
        <input id="password" name="password" placeholder="password" type="password" required>
        <input id="login-btn" class="button" value="Login" type="submit">
      </form>
    </nav>
  </div>
  <div class="container">
    <div id="loginhelp" class="menu">
      <a href="#forgot-pword">Forgot Password?</a>
      <div id="forgot-pword" class="modalDialog">
          <div class="form">
            <a href="#close" title="Close" class="close">X</a>
            <h2>Retrieve Password</h2>
          <form action="/" method="post">
              <div class="field-wrap">
                      <label>
                        Email Address<span class="req">*</span>
                      </label>
                      <input type="email" required autocomplete="off"/>
                  </div>
                  <input id="submit-btn" class="button" value="Submit" type="submit">
              </form>
          </div>
      </div>
    </div>
  </div>
</div-->

<div id="subheader2">
  <div class="container">
    <nav id="threadmenu" class="menu">
      <span>
        <a href="../">Return to Forum</a>
      </span>
    </nav>
  </div>
</div>

<!--  Currently Unused
<div id="subheader3">
  <div class="container">
    <nav id="searchbar" class="menu">
      <form id="search" action="/search" method="get" class="menu">
        <input id="search-box" name="q" size="40" type="text" placeholder="Search Forum"/>
        <input id="search-btn" class="button" value="Search" type="submit"/>
      </form>
    </nav>
  </div>
  <nav id="pagemenu" class="menu">
    <span id="prev">
      <a href="#">&laquo Prev Page</a>
    </span>
    <span id="page">
      <a href="#">1</a>
    </span>
    <span id="page">
      <a href="#">2</a>
    </span>
    <span id="page">
      <a href="#">3</a>
    </span>
    <span id="next">
      <a href="#">Next Page &raquo</a>
    </span>
</nav>
</div>

-->
