<!-- HEADER -->
<div class="header">
  <a href="../">
    <div class="logo">
      <img src="../img/betaflag.png" class="betaflag" alt="Beta Flag" height="50px" width="63px">
      <img src="../img/dglogo.png" class="DGLOGO" alt="DGLOGO" height="60px" width="60px">
    </div>
    <ul class="title">
      <li>Developers' Guild Forum</li>
    </ul>
  </a>

  {% if sessUser %}
  <!-- AVATAR -->
  <a href="../user/{{ sessUser.usernameLower}}">
    <span class="avatar-small" title="{{ sessUser.username }}" style="background-image: url(../avatars/{{ sessUser.profile.avatar }});"></span>
  </a>
  <!-- END AVATAR -->

  <!-- MENU -->
  <ul class="menu">
    <li><a href="../user/{{ sessUser.usernameLower}}" class="user-title{{ sessUser.username|getUserTitle }}">{{ sessUser.username }}</a></li>
    <li><a href="../logout">Logout</a></li>
    <li><a href="#">Members</a></li>
    <li><a href="//developersguild.net">About</a></li>
  </ul>
  <!-- ENG MENU -->

  {% else %}
  <!-- MENU -->
  <ul class="menu">
    <li><a href="#login" data-toggle="modal">Login</a></li>
    <li><a href="#register" data-toggle="modal">Sign Up</a></li>
    <li><a href="#">Members</a></li>
    <li><a href="#">About</a></li>
  </ul>
  <!-- ENG MENU -->

  {% endif %}
</div>
<!-- END HEADER -->


{% include "partials/register.html" %}

{% include "partials/login.html" %}
