<div id="header">
  <div class="container">

    <a href="../">
      <!-- logo -->
      <div id="logo">
        <img src="../img/dglogo.png" height="25px" width="25px">
      </div>
      <!--Title-->
      <div id="title">
        DEVELOPER'S GUILD FORUM
      </div>
    </a>
    <!-- main menu -->
    <nav id="mainmenu" class="menu">
      <a href="#openModal">Register</a>
      <div id="openModal" class="modalDialog">
        <div id="registerForm">
          <a href="#close" title="Close" class="close">X</a>
          <h2>Register New Account</h2>

          <form action="/signup" method="post">

            <div class="field-wrap">
              <label>
                Username<span class="req">*</span>
              </label>
              <input type="text" name = "username" required autocomplete="off" />
            </div>


            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" name = "fName"required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text" name="lName"required autocomplete="off"/>
            </div>

            <div class="field-wrap">
              <label>
                Email Address<span class="req">*</span>
              </label>
              <input type="email" name="email"required autocomplete="off"/>
            </div>

            <div class="field-wrap">
              <label>
                Password<span class="req">*</span>
              </label>
              <input type="password" name="password" required autocomplete="off"/>
            </div>

            <input id="register-btn" class="button" value="Register" type="submit">
          </form>
        </div>
      </div>

      <!-- TODO: Properly link these -->
      <a href="#">Profile</a>
      <a href="#">About</a>
    </nav>

  </div>
</div>

{% include "partials/subheaders.html" %}
