<!-- PROJECTS -->
<div class="project-container">
	<span id="project-title">Projects</span>
	<div class="scrollbar">
		<div class="handle">
			<div class="mousearea"></div>
		</div>
	</div>
	<div id="frame">
	    <ul class="slidee">
	      <li>
			<figure class="project-img" style="background-image: url(http://www.uwplatt.edu/files/styles/top_image/public/image_fields/top_image/webdev_0.png?itok=1kiKeBX2)">
				<a href="#">
				<figcaption>
					<div>DG Forum</div>
					<div class="project-term">Winter 2015</div>
				</figcaption>
				</a>
			</figure>
	      </li>
	      <li>
	      	<figure class="project-img" style="background-image: url(http://www.rob-sheridan.com/tourist/tokyo/tokyo25.jpg); background-size:120%;" >
	      		<a href="#">
				<figcaption style="margin-left:5em;">
					<div>Chamber's Labyrinth</div>
					<div class="project-term">Winter 2015</div>
				</figcaption>
				</a>
	      	</figure>
	      </li>
	      <li><figure class="project-img" style="background-image: url(http://a3.mzstatic.com/us/r30/Purple1/v4/5b/ef/4c/5bef4cac-0c32-98ac-57cf-fe90a9f98bec/screen568x568.jpeg); background-size:100%; position: relative; background-position: 0px -110px;" >
            <a href="#">
        <figcaption style="margin-left:5em;">
          <div>Cosmic Ball</div>
          <div class="project-term">Fall 2014</div>
        </figcaption>
        </a>
          </figure>
        </li>
	      <li><figure class="project-img" style="background-image: url(http://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2014/03/19/101508108-flappy_bird.530x298.jpg?v=1395251000); background-size:100%;">
        <a href="#">
        <figcaption>
          <div>Flappy Bird</div>
          <div class="project-term">Spring 2014</div>
        </figcaption>
        </a>
      </figure></li>
        <li>
          <figure class="project-img" style="background-image: url(http://i.imgur.com/mVh9BB7.png); background-size:100%; " >
            <a href="#">
        <figcaption style="margin-left:5em;">
          <div>DG Website</div>
          <div class="project-term">Spring 2014</div>
        </figcaption>
        </a>
          </figure>
        </li>
	    </ul>
	</div>
</div>
<!-- END PROJECTS -->
