<!-- REGISTER MODAL -->
<div class="modal fade" id="register" role="dialog">
  <div class ="modal-dialog">
    <div class ="modal-content">
      <div class ="modal-header">
        <span>Register</span>
        <a href="#" style="float:right;" data-dismiss="modal">X</a>
      </div>
        <div class="modal-body">
	        <form id="signup_form" action="/signup" method="post">
	            <div class="fieldset">
		            <div class="field">
		              <label for="username">Username</label>
		              <input name="username" autocapitalize="off" required autocomplete="off" id="username" placeholder="Username">
		            </div>

		            <div class="field">
		              <label for="first-name">Password</label>
		              <input name="password" type="password" autocapitalize="off" required autocomplete="password" id="password" placeholder="Password">
		            </div>

		            <div class="field">
		              <label for="first-name">First Name</label>
		              <input name="fName" autocapitalize="off" required autocomplete="first-name" id="first-name" placeholder="First Name">
		            </div>

	                <div class="field">
	                  <label for="last-name">Last Name</label>
	                  <input name="lName" autocapitalize="off" required autocomplete="last-name" id="last-name" placeholder="Last Name">
	                </div>

		            <div class="field">
		              <label for="first-name">Email Address</label>
		              <input name="email" autocapitalize="off" required autocomplete="email-address" id="email-address" placeholder="Email Address">
		            </div>
		            
		            <div class="g-recaptcha" data-sitekey="6Lc4KAETAAAAANqjmmrIuQm1iojbfFetPmk2TJ-Q"></div>
		            <input id="register-btn" class="btn" value="Create account" type="submit">        	
		            <label id="error_signup" style="display:none"></label>
	            </div>
	        </form>
	        <div style="height:32px; width:32px; margin:auto;"><img src="../img/loading.gif" id="loadingIcon_signup" height="32px" width="32px" style="display:none"></div>
        </div>
    </div>
  </div>
</div>
<!-- END REGISTER MODAL -->
