{% extends "base.html" %}

{% block page %}

    <!-- main section-->
    <div id="mainsection">
      <!-- thread list -->
      {% for thread in threads %}
      <u1 class="threadlist">
        <li class="thread" class="thread">
          <a href="thread/{{ thread.prettyId }}" id="posttitle">{{ thread.subject }}</a>
          <span class="author">{{ thread.author }}</span>
          <span class="timestamp"> {{ convertToDate(thread.creationDate) }}</span>
          <span class="views">({{ thread.views }} views)</span>
        </li>
        </br>
      </u1>
      {% endfor %}
    </div>

    {% if sessUser %}
    <!-- Post New Thread -->
    <div id="subheader4">
      <div class="container">
        <nav id="threadmenu" class="menu">
          <span>
            <a title="Reply" onClick="toggleDisplay('createThread_modal');">Post New Thread</a>
          </span>
          <div id="createThread_modal" style="display:none">
              <form id="createThread_form"action="makethread" method="post" name="makethread">
                <img src="../img/loading.gif" id="loadingIcon_createThread" height="32px" width="32px" style="display:none">
                <textarea name="subject" rows="1" cols="52" maxlength="85" placeholder="title" required></textarea>
                <br>
                <textarea name="message" rows="10" cols="52" placeholder="message" required></textarea>
                <br>
                <button type="submit">Submit</button>
                <label id="error_createThread" style="display:none"></label>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
    {% endif %}

{% endblock %}
