{% extends "base.html" %}

{% block page %}

{% include "partials/projects.html" %}

    <!-- GENERAL DISCUSSION -->
    <div class="discussion-container">

      <div class="thread-menubar">
        <span id="discussion-title">General Discussion</span>

        {% include "partials/pagination.html" %}

        {% if sessUser %}
        <span class="post-thread">
          <a href="#post" data-toggle="modal">Post New Thread</a>
        </span>
        {% endif %}
      </div>

      <div>
        {% for thread in threads %}
        <ul class="threadlist">
          {% if loop.index % 2 == 0 %}
          <li class="root-thread-no-border">
          {% else %}
          <li class="root-thread-border">
          {% endif %}
            <a href="user/{{ thread.author }}"><div class="avatar-small{% for user in onlineUsers %}{% if thread.author == user.username %}-online{% endif %}{% endfor %}" title="{{ thread.author }}" style="background-image: url(../avatars/{{ thread.author|getUserAvatar  }}); "></div></a>
            <div class="contain-title">
              <div class="ellipsed">
                <a href="thread/{{ thread.prettyId }}" style="font-size:1.2em;">{{ thread.subject }}</a>
                <span style="font-size:1em;">({{ thread.lastPost.post }} replies)</span>
              </div>
              <div class="ellipsed">
                <div class="ellipsed2">submitted by <a href="user/{{ thread.author }}" class="user-title{{ thread.author|getUserTitle }}">{{ thread.author }}</a></div>
              </div>
            </div>

            <!-- TODO: templating for last reply, author and date-->

            <div class="contain-title2">
              <div class="ellipsed2"><a href="#">Last Post</a> by <a href="user/{{ thread.replies[0].author }}" class="">{{ thread.lastPost.author }}</a></div>
              <div class="ellipsed2">{{ convertToDate(thread.lastPost.time) }}</div>
            </div>
          </li>
        </ul>
        {% endfor %}
      </div>

    {% include "partials/pagination.html" %}

    </div>


    <!-- END GENERAL DISCUSSION -->

    <!-- FEED -
    <div class="feed-title"><span>Feed</span></div>
    <div class="feed-container">
      <ul class="feed">
        <li class="feed-item-grey">
          <div><a href="#">you reach i teach</a></div>
          <span>submitted by <a href="#" class="author">kobe</a> 1 second ago</span>
        </li>
        <li class="feed-item-white">
          <div><a href="#">you reach i teach</a></div>
          <span class="feed-bottom"> submitted by <a href="#" class="author">kobe</a> 1 second ago in <a href="thread.html">Sample thread</a>
          </span>
        </li>
        <li class="feed-item-grey">
          <div><a href="#">you reach i teach</a></div>
          <span>submitted by <a href="#" class="author">kobe</a>  1 second ago</span>
        </li>
        <li class="feed-item-white">
          <div><a href="#">you reach i teach</a></div>
          <span>submitted by <a href="#" class="author">kobe</a> 1 second ago</span>
        </li>
      </ul>
    </div>
    <!-- END FEED -->

    <!-- ONLINE -->
    <!-- Check to see if there are any users online -->
    {% if onlineUsers|length > 0 %}
    <div class="online-title"><span>Online users</span></div>
    <div class="online">
    	{% for user in onlineUsers %}

      	<a href="user/{{ user.username }}"><span class="avatar-small-online" title="{{ user.username }}" style="background-image: url(../avatars/{{ user.profile.avatar }});"></span></a>

    	{% endfor %}

    </div>

    {% endif %}
    <!-- END ONLINE -->

    <!-- POST THREAD MODAL -->
    <div class="modal fade" id="post" role="dialog">
      <div class ="modal-dialog">
        <div class ="modal-content">
          <div class ="modal-header">
            <span>Post New Thread</span>
            <a href="#" style="float:right;" data-dismiss="modal">X</a>
          </div>
          <div class="modal-body">
            <form id="createThread_form"action="makethread" method="post" name="makethread">
              <img src="../img/loading.gif" id="loadingIcon_createThread" height="32px" width="32px" style="display:none">
              <textarea name="subject" id="titlebox" rows="1" dir="ltr" maxlength="50" required placeholder="Title"></textarea>
              <textarea name="message" id="replybox" name="reply" rows="10" dir="ltr" required placeholder="Message"></textarea>
              <div>
                  <input class="btn" class="button" value="POST" type="submit"/>
                  <label id="error_createThread" style="display:none"></label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- END POST THREAD MODAL -->

{% endblock %}
