{% extends "base.html" %}

{% block page %}

<div>
  <form action="/login" method = "post">
      Username/Email
      <input type="text" name="usernameEmail" required>
      <br> Password
      <input type="password" name="password" required>
      <br>
      <button type="submit" value="Submit" >Log in</button>
  </form>
</div>

<div>
  <form action="/signup" method = "post">
      Username
      <input type="text" name="username" required>
      Email
      <input type="text" name="email" required>
      First Name
      <input type="text" name="fName" required>
      Last Name
      <input type="text" name="lName" required>
      <br> Password
      <input type="password" name="password" required>
      <br>
      <button type="submit" value="Submit" >Register</button>
  </form>
</div>


{% endblock %}
