{% extends "base.html" %}

{% block page %}

<div class="members-list">
{% for member in members %}
	<div class="user-profile">
		<div class="avatar{% if member.flags.online %}-online{% endif %}" style="background-image: url(../avatars/{{ member.profile.avatar }});"></div>

		<div style="text-align:center; line-height:14px;"><a href="../user/{{ member.username }}" class="user-title{{ member.title }}">{{ member.username }}</a></div>

		<!--{% if member.profile.fName %}-->
		<div class="info-val" style="text-align:center; line-height:14px; font-style:italic;">{{ member.profile.fName }} {{ member.profile.lName }}</div>
		<!--{% endif %}-->

		{% if member.title != 0%}
			<div class="banner banner{{ member.title }}" style="margin:0 auto; float:none; margin-top:.5em; margin-bottom:1em;">
			{% if member.title == 1%}Member
			{% elif member.title == 2%}Officer{% endif %}
			</div>
		{% endif %}

		{% if member.flags.forumDev %}
		  <div class="banner banner-forumDev" style="margin:0 auto; float:none;">Forum Dev</div>
    {% endif %}

    <div style="text-align:center; font-size:.9em; line-height:14px;">Last Active:<br>{{ convertToDate(member.lastActivity) }}</div>

    </div>
{% endfor %}
	<div style="clear:both"></div>
</div>

{% endblock %}
