{% extends "base.html" %}

{% block page %}
    <!--
    {% if user.username == sessUser.username %}

    then show Edit Profile stuff, else don't

    {% endif %}
    -->

    {% if user.username == sessUser.username %}
		<!-- EDITPROFILE -->
		<div class="profile">
			<div class="edit-profile">Edit Profile</div>
      <!-- NOTE: This route isn't configured yet. -->
			<form action="/changeprofile" method="post">
				<div class="fieldset">
					<div class="field">
						<label for="password">Password</label>
						<input name="password" type="password" autocapitalize="off" autocomplete="password" placeholder="Password">
					</div>
					<div class="field">
						<label for="fName">First name</label>
						<input name="fName" autocapitalize="off" placeholder="{{ sessUser.profile.fName }}">
					</div>
					<div class="field">
						<label for="lName">Last name</label>
						<input name="lName" autocapitalize="off" placeholder="{{ sessUser.profile.lName }}">
					</div>
					<div class="field">
						<label for="email">Email address</label>
						<input name="email" autocapitalize="off" autocomplete="email-address" placeholder="{{ sessUser.email }}">
					</div>
					<div class="field">
						<label for="bio">Bio</label>
						<input name="bio" autocapitalize="off" placeholder="{{ sessUser.profile.bio }}">
					</div>
					<div class="field">
						<label for="website">Website</label>
						<input name="website" autocapitalize="off" placeholder="{{ sessUser.profile.website }}">
					</div>
					<div class="field">
						<label for="githubName">Github name</label>
						<input name="githubName" autocapitalize="off" placeholder="{{ sessUser.profile.githubName }}">
					</div>
					<div class="field-avatar">
						<label for="Avatar" style="width:100%;">Avatar</label>

						<select id="mySelect" style="width:250px; display:none;" name="avatarSelect">
	    					{% for avatar in STOCKAVATARS %}
	      					<option value="{{loop.index}}" {% if avatar==sessUser.profile.avatar%}selected="selected"{% endif %}>{{loop.index}}</option>
	    					{% endfor %}
    					</select>

    					{% for avatar in STOCKAVATARS %}
    					<button type="button" class="avatar clickable {% if avatar==sessUser.profile.avatar %}button-clicked{% endif %}" onclick="selectAvatar( {{ loop.index }} )" style="background-image: url(../avatars/{{ avatar }}); background-color: white;"></button>
    					{% endfor %}

					</div>
					<input id="register-btn" class="btn" value="Save changes" type="submit">
				</div>
			</form>
		</div>
		<!-- END EDITPROFILE -->

		{% else %}
		<div class="user-profile">
			<div class="avatar{% if user.flags.online %}-online{% endif %}" style="background-image: url(../avatars/{{ user.profile.avatar }});"></div>

			<div style="text-align:center;"><a href="../user/{{ user.username }}" class="user-title{{ user.title }}">{{ user.username }}</a></div>

			{% if user.title != 0%}
  			<div class="banner banner{{ user.title }}" style="margin:0 auto; float:none;">
  			{% if user.title == 1%}Member
  			{% elif user.title == 2%}Officer{% endif %}
  			</div>
			{% endif %}

			{% if user.flags.forumDev %}
			<div class="banner banner-forumDev" style="margin:0 auto; float:none;">Forum Dev</div>
	        {% endif %}

	        <div style="text-align:center; font-size:.9em;">Last Active: {{ convertToDate(user.lastActivity) }}</div>

	        <div style="margin-top:1em;">
	        	{% if user.profile.fName %}
		        <div class="info">Name</div>
		        <div class="info-val">{{ user.profile.fName }} {{ user.profile.lName }}</div>
		        {% endif %}

		        {% if user.profile.website %}
		        <div class="info">Website</div>
		        <div class="info-val">{{ user.profile.website }}</div>
		        {% endif %}

		        {% if user.profile.github %}
		        <div class="info">Github</div>
		        <div class="info-val">{{ user.profile.github }}</div>
		        {% endif %}

		        {% if user.profile.bio %}
		        <div class="info">Bio</div>
		        <div class="info-val">{{ user.profile.bio }}</div>
		        {% endif %}
		    </div>
	    </div>

		{% endif %}

{% endblock %}
