{% extends "base.html" %}

{% block page %}

<div>
  <form action = "/signup" id = "formSignUp" method = "post" name = "signup">
  	<input type = "text" id = "inputUserName" placeholder = "username" name = "username">
    <input type = "text" id = "inputEmail" placeholder = "email" name = "useremail">
    <input type = "password" id = "inputPassword" placeholder = "password" name = "userpassword">
    <button type = "submit" id = "btnSubmit">Submit</button> 
    <!--a href = "/login" id = "login">Login</a-->
  </form>
</div>

{% endblock %}
