{% extends "base.html" %}

{% block page %}
    <!-- main section-->
    <div id="mainsection">
      <!-- thread list -->
      <h1 id="threadtitle">{{ thread.subject }}</h1>
      <u1 class="threadlist">
        <li class="post" class="thread">
          <span class="posttitle">{{ thread.message }}</span>
          <span class="author">{{ thread.author }}</span>
          <span class="timestamp">{{ convertToDate(thread.creationDate) }}</span>
        </li>
        </br>
          {% for reply in thread.replies %}
          <li class="post" class="thread">
            <span class="posttitle">{{ reply.message }}</span>
            <span class="author">{{ reply.author }}</span>
            <span class="timestamp">{{ convertToDate(reply.creationDate) }}</span>
          </li>
          </br>
          {% endfor %}
      </u1>
    </div>

    {% if sessUser %}
    <!-- Reply -->
    <div id="subheader4">
      <div class="container">
        <nav id="threadmenu" class="menu">
          <span>
            <a href="#" title="Reply" onClick="toggledisplay('changethis');">Reply</a>
          </span>
          <div id="changethis" style="display:none">
            <form action = "{{ thread.prettyId }}/reply" method = "post" name = "makereply">
              <div class="post-message">
              Message:
              </div>
              <textarea name="message" rows="10" cols="60" required></textarea>
              <div>
                  <input id="post-btn" class="button" value="POST" type="submit"/>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </div>
    {% endif %}
{% endblock %}
