{% extends "base.html" %}

{% block page %}
	<div class="thread-container">
		<!-- THREAD MENU BAR -->
		<div class="thread-menubar">
			<span id="discussion-title"><a href="../">General Discussion</a></span>
			<span class="divider">|</span>
			<span class="thread-title-menu">{{ thread.subject }}</span>
      {% include "partials/pagination.html" %}

			{% if sessUser %}
			<span class="post-reply">
				<a href="#reply" data-toggle="modal">Reply</a>
			</span>
			{% endif %}
		</div>
		<!-- END THREAD MENU BAR -->

		<div>
			<!-- THREAD -->
			<ul class="threadlist">
				<li class="thread-border">
					<div class="avatar{% for user in onlineUsers %}{% if thread.author == user.username %}-online{% endif %}{% endfor %}" style="background-image: url(../avatars/{{ thread.author|getUserAvatar  }});"></div>
					<div class="thread-row1">
						<span class="thread-title">{{ thread.subject }}</span>
						<div><a href="#" class="user-title{{ thread.author|getUserTitle }}">{{ thread.author }}</a> {{ convertToDate(thread.creationDate) }}</div>
					</div>
					<div class="thread-body">{{ thread.message }}{% for user in onlineUser %} {{user.username}} {% endfor %}</div>
				</li>

				<!-- REPLIES -->
				{% for reply in thread.replies %}

				
				<li class="thread-border">
					<div class="avatar{% for user in onlineUsers %}{% if reply.author == user.username %}-online{% endif %}{% endfor %}" style="background-image: url(../avatars/{{ reply.author|getUserAvatar  }});"></div>
					<div class="thread-row2">
						<span><a href="#" class="user-title{{ reply.author|getUserTitle }}">{{ reply.author }}</a></span>
						<div>{{ convertToDate(reply.creationDate) }}</div>
					</div>
					<div class="thread-body">{{ reply.message }}</div>
				</li>

				{% endfor %}
				<!-- END REPLIES -->
			</ul>
			<!-- END THREAD -->
		</div>
	</div>
	<!-- END GENERAL DISCUSSION -->


	<!-- POST REPLY MODAL -->
	<div class="modal fade" id="reply" role="dialog">
		<div class ="modal-dialog">
			<div class ="modal-content">
				<div class ="modal-header">
					<span>Post Reply</span>
				</div>
				<div class="modal-body">
					<form id="createReply_form" action = "{{ thread.prettyId }}/reply" method = "post" name = "makereply">
        			<img src="../img/loading.gif" id="loadingIcon_createReply" height="32px" width="32px" style="display:none">
						<textarea name="message" id="replybox" rows="10" cols="50" dir="ltr" required placeholder="Message"></textarea>
						<div>
							<input class="btn" class="button" value="POST" type="submit"/>
							<label id="error_createReply" style="display:none"></label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- END POST REPLY MODAL -->
{% endblock %}
