<!-- HEADER -->
<div class="header">
	<div class="logo">
		<img src="img/dglogo.png" alt="DGLOGO" height="60px" width="60px">
	</div>
		<ul class="title">
			<li><a href="index.html">Developer's Guild Forum</a></li>
		</ul>

		<!-- AVATAR -->
		<div class="avatar-small"></div>
		<!-- END AVATAR -->

		<!-- MENU -->
		<ul class="menu">
			<li><a href="profile.html">Profile</a></li>
			<li><a href="#register" data-toggle="modal">Register</a></li>
			<li><a href="members.html">Members</a></li>
		</ul>
		<!-- ENG MENU -->
</div>
<!-- END HEADER -->

<!-- REGISTER MODAL -->
<div class="modal fade" id="register" role="dialog">
	<div class ="modal-dialog">
		<div class ="modal-content">
			<div class ="modal-header">
				<span>Register</span>
			</div>
			<div class="modal-body">
				<form action="/register" method="post">
					<div class="fieldset">
						<div class="field">
							<label for="username">Username</label>
							<input autocapitalize="off" required autocomplete="off" id="username" placeholder="Username">
						</div>
						<div class="field">
							<label for="first-name">Password</label>
							<input type="password" autocapitalize="off" required autocomplete="password" id="password" placeholder="Password">
						</div>
						<div class="field">
							<label for="first-name">First name</label>
							<input autocapitalize="off" required autocomplete="first-name" id="first-name" placeholder="First name">
						</div>
						<div class="field">
							<label for="first-name">Last name</label>
							<input autocapitalize="off" required autocomplete="last-name" id="last-name" placeholder="Last name">
						</div>
						<div class="field">
							<label for="first-name">Email address</label>
							<input autocapitalize="off" required autocomplete="email-address" id="email-address" placeholder="Email address">
						</div>
						<div class="g-recaptcha" data-sitekey="6Lc4KAETAAAAANqjmmrIuQm1iojbfFetPmk2TJ-Q"></div>
						<input id="register-btn" class="btn" value="Create account" type="submit">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END REGISTER MODAL -->