.container {
	height: 29px;
	margin: 0px, 3px;
	background: #ffffff;
}

#header {
	height: 29px;
	background: #ffffff;
	padding: 14px;
	color: #000000;
	font: 1em/1.45 'Economica', sans-serif;
	font-weight: bold;
}

#subheader {
	height: 25px;
	background: #ffffff;
	padding: 10px;
}

#title {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
	height: 29px;
}

#logo {
	display: inline;
	float: left;
	height: 25px;
	margin-left: 5px;
	margin-right: 5px;
}

.menu{
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
	height: 25px;
	font-family: 'Oswald', sans-serif;
	font-size: .9em;
}

#mainmenu{
	float: right;
}

#sortmenu{
	float: left;
}

#threadmenu{
	margin-left: 250px;
	margin-right: 250px;
	vertical-align: middle;
}

.menu a{
	display: inline;
	margin-right: 25px
}

#page a, #prev a, #next a{
	margin: 0px;
}

#sortmenu a, #threadmenu a{
	color: #777777;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #000000;
	text-decoration: none;
}

.post, .thread{
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
}

#mainsection{
	height: 1237px;
	padding: 20px;
}

li{
	list-style: square;
}

#posttitle{
	color: #000000;
	margin-right: 20px;
}

#author, #timestamp, #views, #reply{
	color: #777777;
}

.replylist{
	margin: 0;
}

#page, #prev, #next{
	margin-left: 5px;
	margin-right: 5px;
}

#search-btn{
	background:#000000;
	color:white;
	border:0 none;
	font-weight:bold;
	padding:5px 10px;
}

#search-box{
	background: #eee;
	padding:5px;
	border:0 none;
	width:160px;
}

#search{
	float: right;
}
