a:visited{
  color:#5289DB;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#reply
{
	font-family: 'Lucida Sans Unicode';
}

.clear {
    clear: both;
}


.row0 {
	background:#EEEEEE;
	font-family: 'Lucida Sans Unicode';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.row1 {
	background:WHITE;
	font-family: 'Lucida Sans Unicode';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.banner {
	background:#d4d4d4;
	font-size:13px;
	font-family: 'Lucida Sans Unicode';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.banner2 {
	background:WHITE;
	font-size:13px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
	vertical-align: middle;
	color:#5289DB;
}

.logo {
	background:WHITE;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
	vertical-align: middle;
	color:#5289DB;
}

ul.thread {
	margin-top: 0.4em;
	margin-bottom: 0.6em;
}

/********************/
/* EXPANDABLE LIST  */
/********************/
#listContainer{
  margin-top:15px;
}

#expList ul, li {
    list-style: square;
    margin:0;
    padding:0;
    cursor: pointer;
}

/*
#expList p {
    margin:0;
    display:block;
}
#expList p:hover {
    background-color:#121212;
}*/

#expList li {
    line-height:140%;
    text-indent:0px;
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
}

/* Collapsed state for list element */
#expList .collapsed {
    background-image: url(img/collapsed.png);
}
/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
#expList .expanded {
    background-image: url(img/expanded.png);
}
#expList {
    clear: both;
}

.listControl{
  margin-bottom: 15px;
}

.listControl a {
    background-image: url(../img/collapsed.png);
    line-height:140%;
    text-indent:0px;
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
}

.listControl a:hover {
    background-color:#555555;
    color:#222222; 
    font-weight:normal;
}